.calculator {
  width: 200px;
}

#formula-display {
  width: 200px;
}

#display {
  width: 200px;
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  height: 100px;
}

.buttons {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: lightgray;
}

.clear-btn {
  width: 100px;
  background-color: #AA3939;
}

.equal-btn {
  background-color: #7A9F35;
}

.operator-btn {
  background-color: #669999;
}

#zero {
  width: 100px;
}

#decimal {
  width: 100px;
}
